.btn {
  display: block;
  margin: 0 auto;
  border: 2px solid @font-color;
  width: 234px;
  padding: 13px;
  text-align: center;
  color: @font-color;
  font-weight: 700;
  text-transform: uppercase;
  background-color: @body-color;
}

.btn--basket {
  width: 146px;
  padding: 16px 20px;
  margin-bottom: 30px;
}
