  .catalog-item {
    width: 260px;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid @border-color;
  }

  .catalog-item__title {
    padding: 0 30px;
    font-size: 17px;
    color: @title-color;
    line-height: 24px;
    font-weight: 700;
  }

  .catalog-item__img {
    background-color: #eceaeb;
  }

  .catalog-item p {
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 25px;
    font-size: 13px;
    line-height: 30px;
    color: @font-color;
    border-bottom: 1px solid @border-color;
  }

  .catalog-item__info {
  padding-bottom: 25px;
  }

  .catalog-item__price {
    padding-left: 30px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    color: @title-color;
  }

  .catalog-item__link-basket {
    position: relative;
  }

  .catalog-item__link-basket::before {
    position: absolute;
    content: '';
    top: -10px;
    right: -130px;
    width: 40px;
    height: 40px;
    background-image: url(/img/icon-cart.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.3;
  }

@media @tablet-widths {
  .catalog {
    display: flex;
    flex-wrap: wrap;
    margin: 80px auto 0;
  }

  .catalog-item {
    display: flex;
    width: 668px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .catalog-item__img {
    width: 334px;
    height: 334px;
  }

  .catalog-item__wrapper {
    margin: 0 25px;
  }

  .catalog-item__title {
    padding: 20px 30px 0 0;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
  }

  .catalog-item p {
    margin: 0;
    padding: 0 40px 175px 0;
    font-size: 15px;
    line-height: 30px;
  }

  .catalog-item__info {
    font-size: 17px;
    line-height: 24px;
    padding: 20px 0;
  }

  .catalog-item__price {
    padding: 0;
  }

  .catalog-item__link-basket::before {
    right: -190px;
  }
}

@media @desktop-widths {
  .catalog {
    width: 1050px;
    margin: 0 auto;
    margin-top: 125px;
    margin-bottom: 55px;
    justify-content: space-between;
  }

  .catalog-item {
    flex-direction: column;
    width: 314px;
    margin: 0;
  }

  .catalog-item p {
    padding: 0;
    padding-bottom: 40px;
  }
}
