  .contacts {
    padding-top: 46px;
    margin-bottom: -18px;
  }

  .contacts h3 {
    width: 260px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 18px;
    color: @title-color;
    line-height: 30px;
  }

  .contacts__map {
    min-height: 460px;
    margin-bottom: 38px;
    background-color: #eae6dd;
    background-image: url(../img/map-mobile@1x.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .contacts__desc {
    display: table;
    width: 260px;
    margin: 0 auto;
    padding: 0 30px;
    padding-top: 26px;
    padding-bottom: 5px;
  }

  .contacts__info {
    display: table-row;
  }

  .contacts__info span {
    display: table-cell;
    text-align: left;
    vertical-align: top;
    padding-bottom: 30px;
    font-size: 15px;
    line-height: 30px;
    color: @font-color;
  }

  .contacts__info-subtitle {
    width: 78px;
  }

  .contacts__info-text a {
    padding-bottom: 5px;
    border-bottom: 1px solid @color-menu;
  }

@media @tablet-widths {
  .contacts {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .container-fluid();
    margin: 60px auto;
  }

  .contacts h3 {
    position: relative;
    width: 668px;
    margin: 0 auto;
    padding: 50px 0;
    padding-bottom: 22px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts h3::after {
    position: absolute;
    content: '';
    top: 33px;
    right: 0;
    width: 52px;
    height: 85px;
    background-image: url(/img/icon-flag.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .contacts__info span {
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__desc {
    display: flex;
    width: 668px;
  }

  .contacts__info {
    width: 335px;
    padding-bottom: 22px;
  }

  .contacts__map {
    margin-bottom: 52px;
  }
}

@media @desktop-widths {
  .contacts {
    max-height: 465px;
    padding-top: 22px;
  }

  .contacts h3 {
    width: 260px;
    font-size: 53px;
    line-height: 57px;
    margin: 0 0 0 220px;
  }

  .contacts h3::after {
    top: 40px;
    left: -108px;
  }

  .contacts__desc {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 27px 60px 0 225px;
    width: 280px;
  }

  .contacts__info span {
    padding-bottom: 8px;
  }

  .contacts__map {
    width: 525px;
    margin-left: -40px;
    margin-top: -21px;
  }
}
