

.contacts h3 {
  padding-left: 30px;
  font-weight: 700;
  font-size: 18px;
}

.contacts__info {
  padding-left: 30px;
  padding-bottom: 35px;
  font-size: 15px;
  line-height: 30px;
  color: @font-color;
}

.contacts__map {
  height: 460px;
  margin-bottom: 38px;
  background-image: url(../img/map-mobile@1x.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.contacts .btn {
  .container();
  margin: 0 30px;
}
