.page-footer {
  margin-top: 40px;
  background-color: @footer-color;
}

.social‐links {
  height: 80px;
  font-size: 0;
}

.page‐footer__copyright {
  border-top: 1px solid @border-color;
  padding-top: 28px;
  padding-left: 30px;
  padding-bottom: 30px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
}

.page‐footer__copyright a {
  font-size: 0;
}
.page-footer__logo {
  display: none;
}
@media @tablet-widths {
.page-footer {
}
.page-footer__wrapper {
  display: flex;
  .container-fluid();
}
.page-footer__logo {
  display: block;
  height: 60px;
  padding: 50px 50px 0 50px;
  margin: 0;
  margin-right: auto;
}
.page‐footer__copyright {
  padding: 40px 60px;
}
}
