.page-header {
display: flex;
flex-direction: column;
flex-wrap: wrap;
}

.page-header__logo {
  height: 60px;
  padding-top: 20px;
  margin: auto;
}

.page-header__logo img {
    width: 90px;
    height: 40px;
}
.page-header__slogan {
  margin-top: -20px;
  height: 175px;
  background-color: #fbfbfb;
}

.page-header__slogan--main {
  height: 280px;
  background-image: url(../img/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 50%, 50%;
}

.page-header__title {
  padding-top: 75px;
  padding-left: 30px;
  padding-right: 30px;
  color: @title-color;
  line-height: 30px;
  font-size: 27px;
  text-align: center;
}
.page-heder__catalog {
  flex-basis: 100%;
  margin: auto;
}
.page-header__catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-header__catalog-item {
  display: inline-block;
  width: 100%;
}

.page-header__catalog-item a {
  display: block;
  vertical-align: middle;
  color: @body-color;
  font-size: 19px;
  font-weight: 700;
  height: 100px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 160px;
}

.page-header__catalog-item--accessory a {
  background-color: @color-menu;
}

.page-header__catalog-item--toy {
  background-color: @dark-color-menu;
}

.page-header__info {
  width: 0;
  height: 0;
  opacity: 0;
}
@media @tablet-widths {
  .page-header {
  flex-direction: row;
  }

  .page-header__logo {
    height: 60px;
    padding: 20px 50px 0 50px;
    margin: 0;
    margin-right: auto;
  }

  .page-header__logo img {
      width: 115px;
      height: 45px;
  }
  .page-header__slogan {
    z-index: 1;
    display: flex;
    flex-basis: 100%;
    background-color: @body-bg;
    margin-top: -85px;
    min-height: 210px;
  }
  .page-header__slogan--main {
    min-height: 465px;
  }
    .page-header__title {
  font-size: 43px;
  line-height: 50px;
  width: 660px;
  align-content: center;
  margin: auto;
  padding: 0;
  }
.page-header__catalog {
  .container-fluid();
  padding: 0 50px;
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
.page-header__catalog-item {
  margin-left: -5px;
  width: 328px;
}
.page-header__catalog-item a {
  padding: 30px 167px 30px 30px;
}
}
@media @desktop-widths {
  .page-header__title {
font-size: 53px;
line-height: 57px;
width: 700px;
}
.page-header__catalog-item {
  margin-left: -5px;
  width: 525px;
}
}
