  .page-promo {
    width: 260px;
    margin: 0 auto;
    padding: 27px 0 42px;
  }

  .page-promo__title {
    color: @title-color;
    font-size: 25px;
    line-height: 30px;
    margin: 0;
  }

  .page-promo__sublitle {
    color: @color-menu;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 23px;
  }

  .page-pomo__text p {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 23px;
  }

  .page-promo__desk-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .page-promo__price {
    height: 53px;
    padding-top: 21px;
    text-align: center;
    font-weight: 700;
  }

  .page-promo__features {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .page-promo__features-item {
    position: relative;
    padding-top: 84px;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
  }

  .page-promo__features-item::before {
    position:  absolute;
    content: '';
    width: 45px;
    height: 45px;
    top: 28px;
    left: 3px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .page-promo__features-item--icon1::before {
    background-image: url(/img/icon-feature-1.svg);
  }

  .page-promo__features-item--icon2::before {
    background-image: url(/img/icon-feature-2.svg);
  }

  .page-promo__features-item--icon3::before {
    background-image: url(/img/icon-feature-3.svg);
  }

  .page-promo__features-item--icon4::before {
    background-image: url(/img/icon-feature-4.svg);
  }

  .page-promo__features-item--icon5::before {
    background-image: url(/img/icon-feature-5.svg);
  }

  .page-promo__features-item--icon6::before {
    background-image: url(/img/icon-feature-6.svg);
  }

  .page-promo__desk-list {
   display: table;
   margin-bottom: 26px;
  }

  .page-promo__desk-item {
    display: table-row;
    height: 39px;
    border-bottom: 1px solid @border-color;
  }

  .page-promo__item-name,
  .page-promo__item-value {
    display: table-cell;
    text-align: left;
    vertical-align: top;
    font-size: 15px;
    line-height: 30px;
    color: @font-color;
    border-bottom: 1px solid @border-color;
  }

  .page-promo__item-name {
    width: 105px;
  }

  .page-promo__item-value{
    width: 174px;
  }

  .page-promo__goods-img {
    width: 260px;
    height: 315px;
    background-color: #f1f1f1;
  }

@media @tablet-widths {
  .page-promo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0 50px;
    width: 668px;
    margin-bottom: 50px;
  }

  .page-promo__headline {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 668px;
  }

  .page-promo__title {
    margin: 48px 0;
    margin-right: auto;
    font-size: 43px;
    line-height: 50px;
  }

  .page-promo__sublitle {
    margin: 50px 0;
    margin-left: auto;
    width: 120px;
    text-align: center;
  }

  .page-pomo__text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 450px;
  }

  .page-pomo__text p {
    font-size: 17px;
    line-height: 30px;
    width: 300px;
    margin: 0;
    margin-bottom: 39px;
    margin-right: 40px;
  }

  .page-promo__item-name {
    width: 98px;
  }

  .page-promo__price {
    font-size: 20px;
    line-height: 24px;
    padding-top: 31px;
    padding-left: 72px;
    text-align: left;
    height: 58px;
  }

  .page-promo__item-value {
      width: 200px;
  }

  .page-promo__goods-img {
    width: 334px;
    height: 405px;
    margin-top: 9px;
    order: 4;
    margin-left: -6px;
  }

  .page-promo:first-of-type {
    padding-bottom: 69px;
    margin-bottom: 0;
  }

  .page-promo:last-of-type {
    margin-bottom: 50px;
  }

  .page-promo__features {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 470px;
  }

  .page-promo__features-item {
    font-size: 20px;
    line-height: 22px;
    width: 336px;
    padding: 55px 0 57px 0;
  }

  .page-promo__features-item::before {
    top: -3px;
  }
}
@media @desktop-widths {
  .page-promo{
    position: relative;
    width: 1050px;
    margin: 70px auto;
  }

  .page-promo__headline {
    position: relative;
    padding: 0;
  }

  .page-promo__title {
    font-size: 53px;
    line-height: 57px;
    padding: 0 350px 0 175px;
  }

  .page-promo__headline .page-promo__title {
    position: absolute;
    top: 8px;
    left: 173px;
    width: 100%;
    z-index: 2;
    padding: 0;
  }

  .page-promo__sublitle {
    content: '';
    position: absolute;
    top: 18px;
    left: 23px;
    width: 120px;
  }

  .page-pomo__text {
    max-height: 640px;
  }

  .page-pomo__text p,
  .page-promo__desk-list,
  .page-promo__price {
    padding: 0 30px 0 175px;
  }

  .page-pomo__text p {
    padding-top: 162px;
  }

  .page-promo__desk-list {
    padding-top: 13px;
  }

  .page-promo__price {
    padding-top: 83px;
    padding-left: 250px;
  }

  .page-promo__features {
    padding: 0 175px;
  }

  .page-promo__features-item {
    width: 300px;
    padding-right: 70px;
  }

  .page-promo__goods-img {
    width: 525px;
    height: 635px;
    margin-left: -19px;
  }

  .page-promo:first-of-type {
    padding-bottom: 37px;
  }
}
