.page-promo {
  padding-left: 30px;
  padding-right: 30px;
}

.page-promo__title {
  color: @title-color;
  font-size: 25px;
  line-height: 30px;
}

.page-promo__sublitle {
  color: @color-menu;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

.page-promo__desk-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-promo__desk-item {
  height: 40px;
  border-top: 1px solid @border-color;
}

.promo-page__price {
  height: 70px;
  padding-top: 30px;
  text-align: center;
}

.page-promo__features {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-promo__features-item {
  padding-top: 85px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;

}
