  .page-footer {
    margin-top: 56px;
    background-color: @footer-color;
  }

  .page-footer__wrapper {
    width: 260px;
    margin: 0 auto;
  }

  .social‐links {
    width: 150px;
    height: 50px;
    margin: 0 auto;
  }

  .social‐link {
    font-size: 0;
    position: relative;
  }

  .social‐link::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    top: 3px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .social‐link‐‐in::before {
    left: -3px;
    background-image: url(/img/icon-insta.svg);
  }

  .social‐link‐‐fb::before {
    left: 51px;
    background-image: url(/img/icon-fb.svg);
  }

  .social‐link‐‐tw::before {
    left: 105px;
    background-image: url(/img/icon-twitter.svg);
  }

  .page‐footer__copyright {
    border-top: 1px solid @border-color;
    padding-top: 37px;
    padding-left: 35px;
    padding-bottom: 30px;
    font-size: 19px;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 0;
  }

  .page‐footer__copyright‐link {
    position: relative;
    font-size: 0;
  }

  .page‐footer__copyright‐link::after {
    position: absolute;
    content: '';
    width: 45px;
    height: 41px;
    top: -24px;
    right: -54px;
    background-image: url(/img/htmlacademy.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .page-footer__logo {
    display: none;
  }

@media @tablet-widths {
  .page-footer {
    margin-top: 63px;
    margin-bottom: 0;
  }

  .page-footer__wrapper {
    display: flex;
    width: 668px;
  }

  .page-footer__logo {
    display: block;
    height: 60px;
    padding: 50px 50px 0 0;
    margin: 0;
    margin-right: auto;
  }

  .social‐links {
    margin: 33px 27px;
  }

  .page‐footer__copyright {
    padding: 44px 47px;
    border: none;
  }
}
@media @desktop-widths {
  .page-footer {
    height: 142px;
    margin-top: 75px;
  }
  .page-footer__wrapper {
    position: relative;
    display: flex;
    width: 1050px;
  }

  .social‐links {
    position: absolute;
    top: 0;
    left: 424px;
  }

  .page‐footer__copyright {
    padding: 41px 47px;
  }
}
