.slider__comments-title {
  color: @title-color;
  font-size: 25px;
  line-height: 30px;
}

.slider__comments p {
  line-height: 30px;
  font-size: 17px;
}

.slider__comments {
  display: none;
}

.slider__comments:first-of-type {
  display: block;
}

.slider__comments-name {
  color: @font-color;
  font-size: 17px;
  font-weight: 700;
}

.slider__comments-name a {
  color: @font-color;
  font-weight: 500;
}

.slider__btn {
  display: inline-block;
  height: 50px;
  width: 128px;
  margin-bottom: 35px;
  border: 1px solid @border-color;
  background-color: @body-color;
}

.slider__btn--next {
  margin-left: -5px;
}
.slider {
  margin-bottom: 90px;
}
