.slider__comments-title {

}

.slider__comments p {
  line-height: 30px;
  font-size: 17px;
}

.slider__comments {
  display: none;
}

.slider__comments:first-of-type {
  display: block;
}
.slider__comments-name {
  color: @font-color;
  font-size: 17px;
  font-weight: 700;
}

.slider__comments-name a {
  color: @font-color;
  font-weight: 500;
}
