.video {
  .container();
  border: 1px solid @border-color;
  margin-top: 30px;
  margin-bottom: 60px;
}

.video__title {
  font-size: 17px;
  line-height: 24px;
  color: @title-color;
  padding-left: 90px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.video p {
  padding-top: 25px;
  padding-left: 35px;
  font-size: 13px;
  line-height: 24px;
  color: @font-color;
}
